In [7]:
def factorial(*args):
    """
    阶乘
    
    Parameters:
      *args - 如果输入1个值，则从该值进行传统阶乘运算；如果输入值有两个，则从第一个值递归到第二个值为止。
    Returns:
      返回阶乘的结果    
    """
    length = len(args)
    if length == 0 or length>2:
        raise Exception("参数数量必须为1或2")
    if length == 1:
        if args[0] == 0:
            return 1
        return args[0]*factorial(args[0]-1)
    elif length == 2:
        if args[0] == args[1]-1:
            return 1
        return args[0] * factorial(args[0]-1,args[1])

In [8]:
factorial(6)

720

1. （a）How many different 7-place license plates are possible if the first 2 places are for letters and the other 5 for
numbers?

In [4]:
26*26*10**5

67600000

1. (b) Repeat part (a) under the assumption that no letter or number can be repeated in a single license plate.

In [10]:
26*25*factorial(10,6)

19656000

2. How many outcome sequences are possible when a die is rolled four times, where we say, for instance, that the outcome is 3, 4, 3, 1 if the first roll landed on 3, the second on 4, the third on 3, and the fourth on 1?

In [11]:
6**4

1296

3.  Twenty workers are to be assigned to 20 different jobs, one to each job. How many different assignments are possible?

In [13]:
factorial(20)

2432902008176640000

4. John, Jim, Jay, and Jack have formed a band consisting of 4 instruments. If each of the boys can play all 4 instruments, how many different arrangements are possible? What if John and Jim can play all 4 instruments, but Jay and Jack can each play only piano and drums?

In [14]:
factorial(4)

24

In [15]:
2*1*2*1

4

5. For years, telephone area codes in the United States and Canada consisted of a sequence of three digits. The first
digit was an integer between 2 and 9, the second digit was either 0 or 1, and the third digit was any integer from 1 to 9. How many area codes were possible? How many area codes starting with a 4 were possible?

In [17]:
(9-2+1)*2*(9-1+1)

144

In [18]:
2*(9-1+1)

18

6. A well-known nursery rhyme starts as follows:

''As I was going to St. Ives

I met a man with 7 wives.

Each wife had 7 sacks.

Each sack had 7 cats.

Each cat had 7 kittens..."

How many kittens did the traveler meet?

In [20]:
7**4

2401

7. (a) In how many ways can 3 boys and 3 girls sit in a row?

    (b) In how many ways can 3 boys and 3 girls sit in a row if the boys and the girls are each to sit together?

    (c) In how many ways if only the boys must sit together?

    (d) In how many ways if no two people of the same sex are allowed to sit together?

In [22]:
factorial(6)

720

In [26]:
factorial(3)*factorial(3)*2

72

In [27]:
factorial(3)*4*6

144

In [28]:
3*2*3*2*2

72

8. How many different letter arrangements can be made
from the letters

(a) Fluke?

(b) Propose?

(c) Mississippi?

(d) Arrange?

In [29]:
factorial(5)

120

In [34]:
factorial(7)/(2*2)

1260.0

In [32]:
factorial(11)/(factorial(4)*factorial(4)*2)

34650.0

In [33]:
factorial(7)/(2*2)

1260.0

9. A child has 12 blocks, of which 6 are black, 4 are red, 1 is white, and 1 is blue. If the child puts the blocks in a line,how many arrangements are possible?

In [35]:
factorial(12)/(factorial(6)*factorial(4))

27720.0

10. In how many ways can 8 people be seated in a row if

(a) there are no restrictions on the seating arrangement?

(b) persons A and B must sit next to each other?

(c) there are 4 men and 4 women and no 2 men or 2 women can sit next to each other?

(d) there are 5 men and they must sit next to one another?

(e) there are 4 married couples and each couple must sit together?

In [38]:
factorial(8) #a

40320

In [39]:
factorial(6)*7*2

10080

In [40]:
factorial(4)*factorial(4)*2

1152

In [41]:
factorial(5)*factorial(3)*4

2880

In [42]:
factorial(4)*16

384

11. In how many ways can 3 novels, 2 mathematics books, and 1 chemistry book be arranged on a bookshelf if

(a) the books can be arranged in any order?

(b) the mathematics books must be together and the novels must be together?

(c) the novels must be together, but the other books can be arranged in any order?

In [43]:
factorial(6)

720

In [44]:
factorial(2)*factorial(3)*factorial(3)

72

In [45]:
factorial(3)*factorial(3)*4

144